<html>
<body style="font-family:calibri; font-size:15px; background-color:#F9FCF7;">

<div style="border:1px solid #004C7F;border-bottom-color: #004C7F; color:black;border-color:#004C7F;">
<div style="padding-left:20px; padding-right:20px;">
<p style="color: black;font-size:15px; font-family:Calibri;">
Hi $iname,<br><br>
 Our Recruitment team have scheduled an interview as per your availability. <br> The details of the interview are given below. <br><br>


<table style="width:450px; border: 0px solid Gray;">

<tr><td style="border: 0px solid #000000; text-align:left;size: 9px 9px; background-color:#F9FCF7;"><hr style="font-family:calibri;border-width:0px; font-size:15px;text-color:black;"><b>Candidate Name :</td>
<td style="border: 0px solid #000000;text-align:left;size: 9px 9px; background-color:#F9FCF7;"><hr style="font-family:verdana;border-width:0px;font-size:12px;">$cname</td> 
</tr>

<tr><td style="border: 0px solid #000000;text-align:left;background-color: #F9FCF7;"><hr style="font-family:calibri;border-width:0px; font-size:15px;"><b>Round Of interview : </td>
<td style="border: 0px solid #000000;text-align:left;background-color: #F9FCF7;"><hr style="font-family:verdana;border-width:0px;font-size:12px;">$roundName</td>
</tr>

<tr><td style="border: 0px solid #000000;text-align:left; background-color: #F9FCF7;"><hr style="font-family:calibri;border-width:0px; font-size:15px;"><b>Date Of Interview :</td>
<td style="border: 0px solid #000000; text-align:left;background-color: #F9FCF7;"><hr style="font-family:calibri;border-width:0px;font-size:12px;">$interviewDateTime</td>
</tr>

<tr><td style="border: 0px solid #000000;text-align:left; background-color: #F9FCF7;"><hr style="font-family:calibri;border-width:0px; font-size:15px;"><b>Type Of Interview :</td>
<td style="border: 0px solid #000000; text-align:left;background-color: #F9FCF7;"><hr style="font-family:calibri;border-width:0px;font-size:13px;">$typeOfInterview</td>
</tr>

<tr><td style="border: 0px solid #000000; text-align:left; background-color:#F9FCF7;"><hr style="font-family:calibri;border-width:0px; font-size:15px;"><b>Candidate Mobile Number :</td>
<td style="border: 0px ; text-align:left;background-color: #F9FCF7;"><hr style="font-family:calibri;border-width:0px;font-size:13px;">$mobileNo</td>
</tr>

<tr><td style="border: 0px  solid #000000; text-align:left;background-color: #F9FCF7;"><hr style="font-family:calibri;border-width:0px;font-size:15px;"><b>Skype Id :</td>
<td style="border: 0px ; text-align:left;background-color: #F9FCF7;"><hr style="font-family:calibri;border-width:0px;font-size:10px;">$skypeId</td>
</tr>

</table><br><br>
<b>Note:</b>
Once Interview is done, please submit the feedback on OSI Recruitment Portal or send the attached feedback form with details to HR.

<br><br>
 <span style="font-size:15px">Regards,</span><br>
 <span style="font-size:15px">Recruitment Team,</span><br>
 <span style="font-size:15px"><a href="http://www.osi-tech.com/index.html">OSI Technologies</a></span><br>
</div>

<br>																			
<div style="background-color:#D9E1E3;height:100px;border:1px solid #004C7F;border-bottom-color: #D9E1E3">
<a href="http://osi-tech.com" target="_blank" style="font-size: 35px;text-decoration: blink;">
  <img src="http://www.osi-tech.com/images/osi-logo2.png" style="width:350px; height:100px" > </a>
</div> 

</div>

</body>
</form>
</html>
